{
  "extends": [
    "last",
    "prettier/react",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": ["react", "prettier", "flowtype"],
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "jest": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "jsxBracketSameLine": true,
        "printWidth": 80,
        "semi": true,
        "singleQuote": true,
        "tabWidth": 2,
        "trailingComma": "all",
        "useTabs": false
      }
    ],
    "flowtype/boolean-style": 0,
    "flowtype/generic-spacing": 0,
    "flowtype/space-after-type-colon": 0,
    "flowtype/space-before-generic-bracket": 0,
    "flowtype/space-before-type-colon": 0,
    "flowtype/union-intersection-spacing": 0
  },
  "settings": {
    "react": {
      "version": "16.5",
      "flowVersion": "0.80"
    }
  }
}
