body.pdf {
  background: #fff;
  color: #333;
}

h1,
h2 {
  margin: 0;
}

h2 { line-height: 1.5em; }

dt,
dd,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.profile-container {
  margin-bottom: 1em;
}

.contact-container .contact-list {
  line-height: 1.5em;
  margin: .5em 0;
  padding: 0;
}

.contact-container .contact-list dd {
  margin: 0;
  padding: 0;
}

.profiles-container,
.education-container,
.summary-section {
  margin-top: 2em;
}

.profiles-container dl {
  line-height: 1.8em;
  margin: .5em 1em;
}

.profiles-container dt {
  float: left;
  visibility: visible;
  position: static;
  margin-right: 4px;
  width: 6em;
}

.profiles-container dd {
  text-align: left;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.profiles-container dt::after {
  content: ": ";
}

.education-container .item > * {
  margin: .5em 0;
}

.degree {
  display: inline-block;
}

.degree::after {
  content: ',';
  font-weight: normal;
}

.meta {
  font-weight: normal;
  font-size: 1.17em;
  display: inline-block;
}

.education-container .item > p.time {
  margin: 0;
}

.pdf .main-wrapper {
  padding: 30px 15px;
}

.pdf .section-title {
  visibility: visible;
  position: static;
  margin-bottom: 0;
  line-height: 1.5em;
}

.title-icon {
  display: none;
}

.pdf .main-wrapper .upper-row {
  display: block;
}

.pdf .main-wrapper .job-title {
  font-weight: bold;
  white-space: nowrap;
}

.pdf .main-wrapper .time,
.pdf .main-wrapper .company {
  color: #3f4650;
}

.pdf .experiences-section .section-title,
.pdf .speaking-section .section-title,
.pdf .writing-section .section-title,
.pdf .recognition-section .section-title {
  margin-bottom: 1em;
}

.pdf .highlights-header {
  position: absolute;
  visibility: hidden;
}

.pdf .section .item {
  margin-left: 0;
}

.pdf .degree, .pdf .meta {
  white-space: nowrap;
}
