<section class="education-container container-block">
  <h2 class="container-block-title">Education</h2>
  {{#each r.education.history}}
    {{#> body-education }}
    <div class="item">
      <h3 class="degree">{{{ title }}}</h3>
      <h4 class="meta">{{{ institution }}}</h4>
      <p class="time">
        {{moment start format="MM/YYYY"}} — {{moment end format="MM/YYYY"}}
      </p>
    </div>
    {{/body-education}}
  {{/each}}
</section>
