<section id="formats" class="formats-container container-block">
  <h2 class="container-block-title">Resume Formats</h2>
  <ul class="list-unstyled formats-list">
    <li class="format-info"><a href="clintandrewhall.txt"><i class="fas fa-file-alt format-icon"></i>Text</a></li>
    <li class="format-info"><a href="clintandrewhall.pdf"><i class="fas fa-file-pdf format-icon"></i>PDF</a></li>
    <li class="format-info"><a href="clintandrewhall.doc"><i class="fas fa-file-word format-icon"></i>DOC</a></li>
    <li class="format-info"><a href="clintandrewhall.json"><i class="fab fa-js-square format-icon"></i>JSON</a></li>
    <li class="format-info"><a href="clintandrewhall.md"><i class="fab fa-markdown format-icon"></i>Markdown</a></li>
    <li class="format-info"><a href="clintandrewhall.yml"><i class="fas fa-file-code format-icon"></i>YML</a></li>
  </ul>
</section>
