<section id="summary" class="section summary-section">
  <h2 class="section-title">
    <span class="title-icon"><i class="fas fa-user"></i></span>
    <span>Personal Summary</span>
  </h2>
  <div class="summary">
    {{#markdown}}{{{ r.info.brief }}}{{/markdown}}
  </div>
</section>
