.gh {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.gh a,
.gh a:visited {
  text-decoration: none;
  color: #4484c2;
}

.gh a:hover {
  text-decoration: underline;
}

.card {
  position: relative;
}

.header {
  background-color: #fafafb;
  border-bottom: 1px solid #e5e5e5;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-top: 6px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 11px;
}

.octocat {
  text-align: center;
  margin-bottom: 8px;
  padding-top: 10rem;
}

.title {
  font-weight: bold;
  font-size: 11px;
  color: #767676;
  vertical-align: 65%;
  padding-left: 2px;
}

.avatar img {
  width: 30px;
  height: 30px;
  float: left;
  border-radius: 3px;
}

.username {
  font-size: 13px;
  font-weight: bold;
  padding-left: 37px;
  padding-top: 1px;
  margin-bottom: 4px;
}

.hidden {
  display: none;
}

.recentlyActive {
  font-size: 11px;
  color: #999999;
  padding-left: 37px;
}

.greenbox {
  width: 10px;
  height: 10px;
  background-color: #44a340;
  border-radius: 1px;
  display: inline-block;
  vertical-align: middle;
  display: none;
}

.recentText {
  vertical-align: middle;
  padding-left: 1px;
}

.contents {
  clear: both;
  font-size: 13px;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 9px;
  padding-left: 11px;
  padding-right: 11px;
  padding-bottom: 9px;
}

.languages {
  list-style: none;
  margin: 5rem 0 3rem;
}

.language {
  height: 0.6rem;
  background: #c9c9c9;
  width: 100%;
  margin-bottom: 5.5rem;
  position: relative;
}

.languageName {
  position: absolute;
  left: 0;
  top: -3.25rem;
  font-family: 'montserrat-extrabold', sans-serif;
  color: #0d0a0b;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.progress {
  background: #000000;
  background-image: linear-gradient(to right, #191a3f, #2d462c);
  position: relative;
  height: 100%;
  top: -1.4rem;
  left: -0.4rem;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

.loc {
  position: relative;
  left: 7px;
  top: -1.4rem;
  display: inline-block;
  font-family: 'montserrat-regular', sans-serif;
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 1;
  background: #000000;
  padding: 0.6rem 0.6rem;
  border-radius: 3px;
}

.loc::after {
  position: absolute;
  top: 50%;
  left: 0px;
  margin-top: -5px;
  margin-left: -5px;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 5px solid #000000;
  content: '';
}

/* ===================================================================
 * # stats
 * ------------------------------------------------------------------- */

.stats {
  text-align: center;
}

.stats::before {
  content: '';
  width: 75%;
  border-top: 1px solid #e5e5e5;
  position: relative;
  top: -1.8rem;
  height: 1px;
  display: block;
  margin: auto;
}

.statsRow {
  composes: row from './common/Grid.module.css';
  composes: block_1_4 from './common/Grid.module.css';
  composes: block_tab_1_2 from './common/Grid.module.css';
  composes: block_mob_full from './common/Grid.module.css';
  margin: 1.6rem 0 0 0;
  padding: 0;
}

.stats .statsRow {
  margin: 0;
}

.statsCol {
  composes: col_block from './common/Grid.module.css';
  background-color: #f1f1f1;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.statsUpsign {
  position: absolute;
  top: 3rem;
  left: 3rem;
  text-align: left;
}

.statsUpsign i {
  font-size: 2.1rem;
  line-height: 1;
  color: #cf3e3e;
  color: #008c2c;
}

.statsCount {
  font-family: 'librebaskerville-bold', serif;
  font-size: 3rem;
  line-height: 1;
  color: #0d0a0b;
  padding-bottom: 1rem;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.statsCount::after {
  content: '';
  display: block;
  height: 1px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
}

.statsTitle {
  composes: h04 from global;
  font-family: 'montserrat-semibold', sans-serif;
  margin-top: 1.3rem;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.4rem;
  position: relative;
  margin-bottom: 0;
}

.statsCol:hover,
.statsColHighlight {
  background: #111111; /*url('../images/count-bg.jpg');*/
  background-size: 175px 175px;
  position: relative;
}

.statsColHighlight::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: linear-gradient(
    to bottom,
    rgba(13, 10, 11, 0) 0%,
    #0d0a0b 100%
  );
}

.statsCol:hover .statsCount,
.statsColHighlight .statsCount {
  color: #ffffff;
}

.statsCol:hover .statsCount::after,
.statsColHighlight .statsCount::after {
  background-color: #862121;
}

.statsCol:hover .statsTitle,
.statsColHighlight .statsTitle {
  color: rgba(255, 255, 255, 0.4);
}

/* -------------------------------------------------------------------
 * responsive:
 * stats
 * ------------------------------------------------------------------- */

@media only screen and (max-width: 1200px) {
  .statsCount {
    font-size: 2.3rem;
  }
  .statsTitle {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .statsCount {
    font-size: 2rem;
  }
  .statsTitle {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 800px) {
  .statsCount {
    font-size: 2.8rem;
  }
  .statsTitle {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .stats {
  }
  .statsCol {
    padding: 3rem;
  }
}
